name: Build and Publish

on:
  workflow_dispatch: 
    
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v6
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 8.0.x
    - name: Install .NET tools
      run: |
        dotnet tool install -g Evaisa.NetcodePatcher.Cli
        dotnet tool install -g tcli
    - name: Build
      run: dotnet publish -c Release
    - name: Upload to Thunderstore
      run: |
        cd BetterLadders/artifacts
        tcli publish --file build.zip --token ${{ secrets.TS_API_KEY }}